<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="example" 
            patch:after ="site[@name='modules_website']"
            
            rootPath="/sitecore/content/All Sites/Main Site/Example"
            startItem="/Home"
            enableTracking="true" 
            virtualFolder="/" 
            physicalFolder="/" 
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB" 
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB" 
            enablePreview="true" 
            enableWebEdit="true" 
            enableDebugger="true" 
            disableClientData="false" 
            cacheRenderingParameters="true" 
            renderingParametersCacheSize="10MB"
            enableItemLanguageFallback="false"
            enableFieldLanguageFallback="false" 
            itemwebapi.mode="Off" 
            itemwebapi.access="ReadOnly"
            itemwebapi.allowanonymousaccess="false"
            database="master" 
            filterItems="true" 
            enableWorkflow="false"
            />
    </sites>

  </sitecore>
</configuration>