<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.Blog" 
					description="Feature.Blog templates and renderings" 
					dependencies="Foundation.MultiTenant"
				>
          <targetDataStore
            physicalRootPath="C:\Users\ALI\source\repos\HelixRemake\src\Feature\Blog\serialization"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Blog"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Blog"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
